body {
  font-family: "Lato", sans-serif;
}

.app-wrapper {
  display: grid;
  justify-content: center;
}

.logo-main,
.recent-posts {
  display: grid;
  justify-items: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

$color-gray-one: #666666;
$color-gray-two: #b3b3b3;
$color-gray-three: #d8d8d8;
$color-blue-main: #0079ff;

.no-post-links {
  color: $color-gray-one;
  font-size: 14px;
  line-height: 17px;
}

@import "./mixins.scss";
@import "./searchBar";
@import "./recentPosts";
@import "./post";
@import "./home";
@import "./results";
